Repository Eiasash/geriatrics-study, changes with the labels that .github/labeler.yml gives for each.
All labels: component: h5p, component: anki, component: data, type: ci/cd, type: documentation, type: dependencies, type: test, type: config, priority: high, security

fix(ci): resolve H5P CI failures
  h5p/build-h5p.test.js
  h5p/jest.config.js
  h5p/package.json
Labels: component: h5p, component: data, type: test, priority: high, security

docs: add coverage improvement plan
  COVERAGE_IMPROVEMENT_PLAN.md
Labels: type: documentation

fix(ci): resolve all CI failures
  .claude/settings.local.json
  .github/workflows/build-and-package.yml
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci.yml
  h5p/.eslintrc.json
  h5p/node_modules/.package-lock.json
  h5p/package-lock.json
  h5p/package.json
Labels: component: h5p, component: data, type: ci/cd, security

test(h5p): add fs-extra mock + smoke tests to exceed 50% coverage
  .claude/settings.local.json
  h5p/__mocks__/fs-extra.js
  h5p/__tests__/build-h5p-mega.smoke.test.js
  h5p/__tests__/build-h5p-questionset.smoke.test.js
  h5p/__tests__/build-h5p.smoke.test.js
  h5p/__tests__/package-scripts.test.js
  h5p/build-h5p-mega.js
  h5p/build-h5p-questionset.js
  h5p/build-h5p.js
  h5p/jest.config.js
Labels: component: h5p, component: data, type: test, priority: high

fix(ci): temporarily lower coverage thresholds to fix CI
  .claude/settings.local.json
  .github/workflows/ci-enhanced.yml
  anki/pyproject.toml
  h5p/jest.config.js
  h5p/node_modules/.package-lock.json
  h5p/package-lock.json
  h5p/package.json
Labels: component: h5p, component: anki, component: data, type: ci/cd, security

Create tracking/app.py
  tracking/app.py
Labels: none

Create scripts/pubmed_fetcher.py
  scripts/pubmed_fetcher.py
Labels: none

Create scripts/pubmed_fetcher.py
  scripts/pubmed_fetcher.py
Labels: none

Create .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: type: ci/cd

Create .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: type: ci/cd

Create anki/build_apkg_enhanced.py
  anki/build_apkg_enhanced.py
Labels: component: anki

Create anki/build_apkg_enhanced.py
  anki/build_apkg_enhanced.py
Labels: component: anki

Create requirements.txt
  requirements.txt
Labels: component: anki, type: dependencies, security

Create requirements.txt
  requirements.txt
Labels: component: anki, type: dependencies, security

Update pubmed_fetcher.py
  scripts/pubmed_fetcher.py
Labels: none

Update pubmed_fetcher.py
  scripts/pubmed_fetcher.py
Labels: none

Update app.py
  tracking/app.py
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: type: ci/cd

Update deploy.yml
  .github/workflows/deploy.yml
Labels: type: ci/cd

Update deploy.yml
  .github/workflows/deploy.yml
Labels: type: ci/cd

Update deploy.yml
  .github/workflows/deploy.yml
Labels: type: ci/cd

Create questions-expansion.json
  .github/questions-expansion.json
Labels: component: data

Create questions-expansion.json
  .github/questions-expansion.json
Labels: component: data

fix(h5p): resolve build script errors and update timer embed
  h5p/build-h5p-mega.js
  h5p/build-h5p-questionset.js
  h5p/build-h5p.js
  h5p/timer-embed.html
Labels: component: h5p, priority: high

feat(h5p): create legendary learning system with advanced features
  .claude/settings.local.json
  .github/workflows/h5p-deploy.yml
  h5p/README.md
  h5p/build-h5p.test.js
  h5p/index.html
  h5p/node_modules/.package-lock.json
  h5p/package-lock.json
  h5p/package.json
  h5p/timer-embed.html
Labels: component: h5p, component: data, type: ci/cd, type: documentation, type: test, priority: high, security

trigger: activate H5P deployment workflow
  h5p/.deploy-trigger
Labels: component: h5p

deploy: force new deployment - bypass stuck queue
  h5p/deployment.txt
Labels: component: h5p

fix: resolve linting errors and deployment issues
  .github/workflows/h5p-deploy.yml
  h5p/build-h5p-questionset.js
  h5p/build-h5p.js
Labels: component: h5p, type: ci/cd, priority: high

feat: add alternative deployment methods to bypass stuck queue
  .github/workflows/simple-deploy.yml
  deploy-local.bat
  deploy-local.sh
Labels: type: ci/cd

Create index.html
  h5p/index.html
Labels: component: h5p

Update index.html
  h5p/index.html
Labels: component: h5p

Delete index.html
  index.html
Labels: none

Update index.html
  h5p/index.html
Labels: component: h5p

Update index.html
  h5p/index.html
Labels: component: h5p

Create index.html
  index.html
Labels: none

Create index.html
  index.html
Labels: none

Create index.html
  h5p/index.html
Labels: component: h5p

Update index.html
  h5p/index.html
Labels: component: h5p

SZMC Presentation Maker with enhanced AI assistant
  szmc-presentation-maker/.claude/settings.local.json
  szmc-presentation-maker/README.md
  szmc-presentation-maker/css/generator.css
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/presentation.css
  szmc-presentation-maker/css/resources.css
  szmc-presentation-maker/css/visuals.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/ai-assistant.js
  szmc-presentation-maker/js/citations.js
  szmc-presentation-maker/js/editor.js
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/generator.js
  szmc-presentation-maker/js/main.js
  szmc-presentation-maker/js/presentation.js
  szmc-presentation-maker/js/resources.js
  szmc-presentation-maker/js/templates-extended.js
  szmc-presentation-maker/js/templates-extra.js
  szmc-presentation-maker/js/templates.js
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
  szmc-presentation-maker/presentations/myasthenic-crisis-elderly.json
  szmc-presentation-maker/sw.js
  szmc-presentation-maker/templates/case-presentation.json
  szmc-presentation-maker/templates/journal-club.json
Labels: component: data, type: documentation

Add .gitignore to exclude build artifacts and dependencies
  .gitignore
Labels: type: config

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# Automatically applies labels based on file paths

# Component labels
'component: h5p':
  - changed-files:
    - any-glob-to-any-file:
      - 'h5p/**'
      - 'package*.json'
      - '.eslint*'
      - '.prettier*'

'component: anki':
  - changed-files:
    - any-glob-to-any-file:
      - 'anki/**'
      - 'requirements*.txt'
      - 'pytest.ini'
      - 'setup.cfg'

'component: data':
  - changed-files:
    - any-glob-to-any-file:
      - 'data/**'
      - '**/*.json'

# Type labels
'type: ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/*.yml'
      - '.github/*.yaml'

'type: documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.rst'
      - 'docs/**'
      - '.github/**/*.md'
      - 'LICENSE*'

'type: dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'package*.json'
      - 'requirements*.txt'
      - 'Pipfile*'
      - 'poetry.lock'
      - 'yarn.lock'
      - '.github/dependabot.yml'

'type: test':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*test*.py'
      - '**/*test*.js'
      - '**/test/**'
      - '**/tests/**'
      - '**/__tests__/**'
      - 'pytest.ini'
      - 'jest.config.*'

'type: config':
  - changed-files:
    - any-glob-to-any-file:
      - '.*rc'
      - '.*rc.*'
      - '*.config.*'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
      - 'tsconfig.json'
      - 'babel.config.*'

# Size labels (based on lines changed)
'size: XS':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
    - head-branch:
      - '^(?!.*(main|master)).*$'
  - base-branch: ['main']
  - draft: false
  - size-below: 10

'size: S':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 9
  - size-below: 30

'size: M':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 29
  - size-below: 100

'size: L':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 99
  - size-below: 500

'size: XL':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 499

# Priority labels
'priority: high':
  - changed-files:
    - any-glob-to-any-file:
      - 'anki/build_apkg.py'
      - 'h5p/build-*.js'
      - 'data/content.json'

'security':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*auth*'
      - '**/*security*'
      - '**/*secret*'
      - '**/*token*'
      - '.github/workflows/*security*'
      - '**/requirements*.txt'
      - '**/package*.json'
