Repository Eiasash/geriatrics-study, changes with the labels that .github/labeler.yml gives for each.
All labels: component: h5p, component: anki, component: data, type: ci/cd, type: documentation, type: dependencies, type: test, type: config, priority: high, security

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# Automatically applies labels based on file paths

# Component labels
'component: h5p':
  - changed-files:
    - any-glob-to-any-file:
      - 'h5p/**'
      - 'package*.json'
      - '.eslint*'
      - '.prettier*'

'component: anki':
  - changed-files:
    - any-glob-to-any-file:
      - 'anki/**'
      - 'requirements*.txt'
      - 'pytest.ini'
      - 'setup.cfg'

'component: data':
  - changed-files:
    - any-glob-to-any-file:
      - 'data/**'
      - '**/*.json'

# Type labels
'type: ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/*.yml'
      - '.github/*.yaml'

'type: documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.rst'
      - 'docs/**'
      - '.github/**/*.md'
      - 'LICENSE*'

'type: dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'package*.json'
      - 'requirements*.txt'
      - 'Pipfile*'
      - 'poetry.lock'
      - 'yarn.lock'
      - '.github/dependabot.yml'

'type: test':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*test*.py'
      - '**/*test*.js'
      - '**/test/**'
      - '**/tests/**'
      - '**/__tests__/**'
      - 'pytest.ini'
      - 'jest.config.*'

'type: config':
  - changed-files:
    - any-glob-to-any-file:
      - '.*rc'
      - '.*rc.*'
      - '*.config.*'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
      - 'tsconfig.json'
      - 'babel.config.*'

# Size labels (based on lines changed)
'size: XS':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
    - head-branch:
      - '^(?!.*(main|master)).*$'
  - base-branch: ['main']
  - draft: false
  - size-below: 10

'size: S':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 9
  - size-below: 30

'size: M':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 29
  - size-below: 100

'size: L':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 99
  - size-below: 500

'size: XL':
  - changed-files:
    - all-globs-to-all-files:
      - '**/*'
  - size-above: 499

# Priority labels
'priority: high':
  - changed-files:
    - any-glob-to-any-file:
      - 'anki/build_apkg.py'
      - 'h5p/build-*.js'
      - 'data/content.json'

'security':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*auth*'
      - '**/*security*'
      - '**/*secret*'
      - '**/*token*'
      - '.github/workflows/*security*'
      - '**/requirements*.txt'
      - '**/package*.json'

Trigger GitHub Pages deployment
  szmc-presentation-maker/.deploy
Labels: none

Enhance HSP-RPGN presentation with geriatric-focused slides
  szmc-presentation-maker/.claude/settings.local.json
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
Labels: component: data

Make slides more visual and compact for better fit
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
Labels: component: data

fix(mobile): improve mobile responsiveness for learning site
  index.html
Labels: none

fix(mobile): improve mobile responsiveness for learning site
  index.html
Labels: none

feat: add szmc-presentation-maker with PPT export and mobile fixes
  szmc-presentation-maker/.claude/settings.local.json
  szmc-presentation-maker/.deploy
  szmc-presentation-maker/README.md
  szmc-presentation-maker/css/generator.css
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/presentation.css
  szmc-presentation-maker/css/resources.css
  szmc-presentation-maker/css/visuals.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/ai-assistant.js
  szmc-presentation-maker/js/citations.js
  szmc-presentation-maker/js/editor.js
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/generator.js
  szmc-presentation-maker/js/main.js
  szmc-presentation-maker/js/presentation.js
  szmc-presentation-maker/js/resources.js
  szmc-presentation-maker/js/templates-extended.js
  szmc-presentation-maker/js/templates-extra.js
  szmc-presentation-maker/js/templates.js
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
  szmc-presentation-maker/presentations/myasthenic-crisis-elderly.json
  szmc-presentation-maker/sw.js
  szmc-presentation-maker/templates/case-presentation.json
  szmc-presentation-maker/templates/journal-club.json
Labels: component: data, type: documentation

feat: add szmc-presentation-maker with PPT export and mobile fixes
  szmc-presentation-maker/.claude/settings.local.json
  szmc-presentation-maker/.deploy
  szmc-presentation-maker/README.md
  szmc-presentation-maker/css/generator.css
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/presentation.css
  szmc-presentation-maker/css/resources.css
  szmc-presentation-maker/css/visuals.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/ai-assistant.js
  szmc-presentation-maker/js/citations.js
  szmc-presentation-maker/js/editor.js
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/generator.js
  szmc-presentation-maker/js/main.js
  szmc-presentation-maker/js/presentation.js
  szmc-presentation-maker/js/resources.js
  szmc-presentation-maker/js/templates-extended.js
  szmc-presentation-maker/js/templates-extra.js
  szmc-presentation-maker/js/templates.js
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
  szmc-presentation-maker/presentations/myasthenic-crisis-elderly.json
  szmc-presentation-maker/sw.js
  szmc-presentation-maker/templates/case-presentation.json
  szmc-presentation-maker/templates/journal-club.json
Labels: component: data, type: documentation

deploy: aaa47a10015a2a7bccfa59290bdcddfd4362867a
  .gitignore
  h5p/index.html
  szmc-presentation-maker/.claude/settings.local.json
  szmc-presentation-maker/.deploy
  szmc-presentation-maker/README.md
  szmc-presentation-maker/css/generator.css
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/presentation.css
  szmc-presentation-maker/css/resources.css
  szmc-presentation-maker/css/visuals.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/ai-assistant.js
  szmc-presentation-maker/js/citations.js
  szmc-presentation-maker/js/editor.js
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/generator.js
  szmc-presentation-maker/js/main.js
  szmc-presentation-maker/js/presentation.js
  szmc-presentation-maker/js/resources.js
  szmc-presentation-maker/js/templates-extended.js
  szmc-presentation-maker/js/templates-extra.js
  szmc-presentation-maker/js/templates.js
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
  szmc-presentation-maker/presentations/myasthenic-crisis-elderly.json
  szmc-presentation-maker/sw.js
  szmc-presentation-maker/templates/case-presentation.json
  szmc-presentation-maker/templates/journal-club.json
Labels: component: h5p, component: data, type: documentation, type: config

feat: add szmc-presentation-maker with PPT export fixes and mobile support
  szmc-presentation-maker/.claude/settings.local.json
  szmc-presentation-maker/.deploy
  szmc-presentation-maker/README.md
  szmc-presentation-maker/css/generator.css
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/presentation.css
  szmc-presentation-maker/css/resources.css
  szmc-presentation-maker/css/visuals.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/ai-assistant.js
  szmc-presentation-maker/js/citations.js
  szmc-presentation-maker/js/editor.js
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/generator.js
  szmc-presentation-maker/js/main.js
  szmc-presentation-maker/js/presentation.js
  szmc-presentation-maker/js/resources.js
  szmc-presentation-maker/js/templates-extended.js
  szmc-presentation-maker/js/templates-extra.js
  szmc-presentation-maker/js/templates.js
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
  szmc-presentation-maker/presentations/myasthenic-crisis-elderly.json
  szmc-presentation-maker/sw.js
  szmc-presentation-maker/templates/case-presentation.json
  szmc-presentation-maker/templates/journal-club.json
Labels: component: data, type: documentation

feat: enhance szmc-presentation-maker with i18n, mobile support, and improved exports
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/mobile.css
  szmc-presentation-maker/css/rtl.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/i18n.js
  szmc-presentation-maker/js/mobile.js
Labels: none

feat: enhance szmc-presentation-maker with i18n, mobile support, and improved exports
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/mobile.css
  szmc-presentation-maker/css/rtl.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/i18n.js
  szmc-presentation-maker/js/mobile.js
Labels: none

feat: add clinical tools consolidated from geriatrics-fellowship-platform
  clinical-tools/anticoag-synthesizer.html
  clinical-tools/clinical-decision-tools.html
  clinical-tools/exam-simulator.html
  clinical-tools/oncall-copilot.html
  clinical-tools/patient-dashboard.html
  index.html
Labels: none

feat: add clinical tools consolidated from geriatrics-fellowship-platform
  clinical-tools/anticoag-synthesizer.html
  clinical-tools/clinical-decision-tools.html
  clinical-tools/exam-simulator.html
  clinical-tools/oncall-copilot.html
  clinical-tools/patient-dashboard.html
  index.html
Labels: none

feat: add evidence resources with OpenEvidence AI and UpToDate integration
  clinical-tools/evidence-resources.html
  index.html
Labels: none

feat: add evidence resources with OpenEvidence AI and UpToDate integration
  clinical-tools/evidence-resources.html
  index.html
Labels: none

feat: add comprehensive geriatric assessments tool (MMSE, Morse, Barthel)
  clinical-tools/geriatric-assessments.html
  index.html
Labels: none

feat: add comprehensive geriatric assessments tool (MMSE, Morse, Barthel)
  clinical-tools/geriatric-assessments.html
  index.html
Labels: none

feat: add comprehensive AI integrations across the platform
  clinical-tools/ai-clinical-assistant.html
  clinical-tools/ai-study-assistant.html
  clinical-tools/smart-medication-manager.html
  index.html
Labels: none

feat: add comprehensive AI integrations across the platform
  clinical-tools/ai-clinical-assistant.html
  clinical-tools/ai-study-assistant.html
  clinical-tools/smart-medication-manager.html
  index.html
Labels: none

refactor: simplify clinical tool file names and fix HTML validation
  clinical-tools/ai-assistant.html
  clinical-tools/anticoag.html
  clinical-tools/assessments.html
  clinical-tools/dashboard.html
  clinical-tools/decisions.html
  clinical-tools/evidence.html
  clinical-tools/exam.html
  clinical-tools/medications.html
  clinical-tools/oncall.html
  clinical-tools/study.html
  index.html
Labels: none

refactor: simplify clinical tool file names and fix HTML validation
  clinical-tools/ai-assistant.html
  clinical-tools/anticoag.html
  clinical-tools/assessments.html
  clinical-tools/dashboard.html
  clinical-tools/decisions.html
  clinical-tools/evidence.html
  clinical-tools/exam.html
  clinical-tools/medications.html
  clinical-tools/oncall.html
  clinical-tools/study.html
  index.html
Labels: none

deploy: 5bbee8a23ae1404723ed08d7b9368b477cec7651
  szmc-presentation-maker/.claude/settings.local.json
  szmc-presentation-maker/.deploy
  szmc-presentation-maker/README.md
  szmc-presentation-maker/css/generator.css
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/css/presentation.css
  szmc-presentation-maker/css/resources.css
  szmc-presentation-maker/css/visuals.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/ai-assistant.js
  szmc-presentation-maker/js/citations.js
  szmc-presentation-maker/js/editor.js
  szmc-presentation-maker/js/export.js
  szmc-presentation-maker/js/generator.js
  szmc-presentation-maker/js/main.js
  szmc-presentation-maker/js/presentation.js
  szmc-presentation-maker/js/resources.js
  szmc-presentation-maker/js/templates-extended.js
  szmc-presentation-maker/js/templates-extra.js
  szmc-presentation-maker/js/templates.js
  szmc-presentation-maker/presentations/eli-ohayon-hsp-rpgn.json
  szmc-presentation-maker/presentations/myasthenic-crisis-elderly.json
  szmc-presentation-maker/sw.js
  szmc-presentation-maker/templates/case-presentation.json
  szmc-presentation-maker/templates/journal-club.json
Labels: component: data, type: documentation

feat: add advanced export and collaboration features
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/advanced-export.js
Labels: none

feat: add advanced export and collaboration features
  szmc-presentation-maker/css/main.css
  szmc-presentation-maker/index.html
  szmc-presentation-maker/js/advanced-export.js
Labels: none

feat: add PWA support for mobile install and offline use
  szmc-presentation-maker/downloads/szmc-presentation-maker.zip
  szmc-presentation-maker/icons/icon.svg
  szmc-presentation-maker/index.html
  szmc-presentation-maker/manifest.json
  szmc-presentation-maker/offline.html
  szmc-presentation-maker/sw.js
Labels: component: data

feat: add PWA support for mobile install and offline use
  szmc-presentation-maker/downloads/szmc-presentation-maker.zip
  szmc-presentation-maker/icons/icon.svg
  szmc-presentation-maker/index.html
  szmc-presentation-maker/manifest.json
  szmc-presentation-maker/offline.html
  szmc-presentation-maker/sw.js
Labels: component: data

fix: update deploy workflow to include full site content
  .github/workflows/deploy.yml
Labels: type: ci/cd

fix: update deploy workflow to include full site content
  .github/workflows/deploy.yml
Labels: type: ci/cd

fix: position Desktop View button properly and hide toolbar on landing page
  szmc-presentation-maker/css/mobile.css
  szmc-presentation-maker/js/main.js
Labels: none

fix: position Desktop View button properly and hide toolbar on landing page
  szmc-presentation-maker/css/mobile.css
  szmc-presentation-maker/js/main.js
Labels: none

deploy: 5bd605c7cc6cba600a103defe379a38ad3b83b69
  anki/dist/build_stats.json
  anki/dist/geriatrics_complete.apkg
  anki/dist/pubmed_recent.apkg
  data/pubmed_articles.json
  data/weekly_digest.md
  szmc-presentation-maker/css/mobile.css
  szmc-presentation-maker/js/main.js
Labels: component: anki, component: data, type: documentation

fix: use native fs module in H5P tests to avoid mock interference
  h5p/build-h5p.test.js
Labels: component: h5p, type: test, priority: high

fix: use native fs module in H5P tests to avoid mock interference
  h5p/build-h5p.test.js
Labels: component: h5p, type: test, priority: high

deploy: 5cb0665fb5052195511cf04f3099b0d64a106571
  anki/dist/build_stats.json
  anki/dist/geriatrics_complete.apkg
  anki/dist/pubmed_recent.apkg
  data/pubmed_anki_cards.json
  data/pubmed_articles.json
  data/weekly_digest.md
  h5p/build-h5p.test.js
Labels: component: h5p, component: anki, component: data, type: documentation, type: test, priority: high
